# Build logs
log/

# Vim swap files
*.swp
*.swo

# Ignore make files
src/bin/**.list

# Ignore Claude
CLAUDE.md

# Ignore local deployment artifacts
efiDeployScripts/credential.temp.env
efiDeployScripts/.deployignore